.hero-content {
  padding: 5rem 2rem;
  z-index: 1;
}

/* left */

.left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.left h1 {
  font-size: 3rem;
  text-align: center;
  line-height: 125%;
  animation: moveInLeft 3s;
}

.left p {
  font-size: 1.6rem;
  text-align: center;
  line-height: 140%;
  animation: moveInRight 3s;
}

.hero-input {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  animation: moveUp 3s;
}

.hero-input input {
  width: 100%;
  height: 5rem;
  border: none;
  border-radius: 8px;
  padding: 1rem;
}

.hero-input .hero-btn {
  height: 5rem;
  font-size: 1.8rem;
}

/* tab */
@media (min-width: 768px) {
  .hero-content {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .hero-input input {
    width: 38.4rem;
    height: 5rem;
    border: none;
    border-radius: 8px;
    padding: 1rem;
    align-self: center;
  }

  .hero-input .hero-btn {
    height: 5rem;
    font-size: 1.8rem;
    width: 38.4rem;
    align-self: center;
  }
}

/* 1024 */
@media (min-width: 1280px) {
  .hero-content {
    padding: 5rem 2rem;
    display: flex;
    flex-direction: row;
  }

  .left {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 8rem 4rem;
  }

  .left h1 {
    font-size: 4rem;
    text-align: left;
    line-height: 125%;
    letter-spacing: -3.6px;
    max-width: 390px;
  }

  .left p {
    font-size: 1.6rem;
    text-align: left;
    line-height: 140%;
    letter-spacing: 1px;
    max-width: 550px;
  }

  .hero-input {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  .hero-input input {
    width: 35.4rem;
    height: 5rem;
    border: none;
    border-radius: 8px;
    padding: 1rem;
  }

  .hero-input .hero-btn {
    height: 5rem;
    font-size: 1.8rem;
    width: 16.8rem;
  }
}

/* right */
.right {
  margin-top: 3rem;
  position: relative;
  z-index: 2;
}

.currency-container {
  width: 100%;
  max-width: 400px;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 3rem;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.currency-container h2 {
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1.5rem;
  animation: moveUp 3s;
}

.input-container input,
select {
  padding: 1.5rem 6rem;
  border: none;
  border-radius: 8px;
}

.input-container input:focus,
select:focus {
  outline: none;
  border-color: var(--bc);
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
}

#converter-form .btn-form {
  padding: 1.5rem 6rem;
  font-size: 1.6rem;
  width: 100%;
  color: white;
  border: none;
  margin-top: 1rem;
}

#converter-form .btn-form:hover,
.btn-form:active {
  background-color: transparent;
  border: 1px solid var(--hc);
  color: var(--hc);
}

#result {
  margin-top: 2rem;
  text-align: center;
  color: white;
}

/* 1024 */
@media (min-width: 1280px) {
  .currency-container {
    width: 400px;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 3rem;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  }

  .currency-container h2 {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 1rem;
    animation: moveUp 3s;
  }

  .input-container input,
  select {
    padding: 1.5rem 6rem;
    border: none;
    border-radius: 8px;
  }

  .input-container input:focus,
  select:focus {
    outline: none;
    border-color: var(--bc);
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.2);
  }

  #converter-form .btn-form {
    padding: 1.5rem 6rem;
    font-size: 1.6rem;
    width: 100%;
    color: white;
    border: none;
    margin-top: 0.5rem;
  }

  #converter-form .btn-form:hover,
  .btn-form:active {
    background-color: transparent;
    border: 1px solid var(--hc);
    color: var(--hc);
  }

  #result {
    margin-top: 2rem;
    text-align: center;
    color: white;
  }
}

/* coins deco */

.bit,
.eth {
  display: none;
  position: absolute;
  object-fit: contain;
}

/* tab */
@media (min-width: 768px) {
}

/* 1024 */
@media (min-width: 1280px) {
  .bit,
  .eth {
    display: block;
    position: absolute;
  }

  .bit {
    bottom: -50px;
    left: -60px;
    z-index: 2;
  }
  .eth {
    top: -50px;
    right: -70px;
    z-index: 0;
  }
}
