.trusted {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.trusted-left {
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  animation: moveInLeft 5s;
  /* this animation came from the ones we used in our hero */
}

.trusted-left h2 {
  text-align: center;
  font-family: var(--ff2);
  color: var(--hc);
  font-size: 3.2rem;
}

.trust-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.trust-desc span {
  color: var(--lb);
  font-size: 2.2rem;
  font-family: var(--ff2);
}

.trust-desc h3 {
  font-size: 2.2rem;
  font-family: var(--ff2);
  color: var(--hc);
  margin-top: 2rem;
}

.trust-desc p {
  font-size: 2.2rem;
  font-weight: 400;
}

.trusted-right {
  animation: moveInRight 5s;
  /* this animation came from the ones we used in our hero */
}

/* 1024 */
@media (min-width: 1280px) {
  .trusted {
    display: flex;
    flex-direction: row;
  }

  .trusted-left h2 {
    text-align: left;
    font-family: var(--ff2);
    color: var(--hc);
    font-size: 4.8rem;
    line-height: 125%;
    max-width: 48rem;
  }
  .trusted-left {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    max-width: 60rem;
  }

  .trust-desc {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }

  .desc-container {
    display: flex;
    flex-direction: column;
  }

  .trusted-right {
    max-width: fit-content;
  }
}

/* 1440 */
@media (min-width: 1440px) {
  .trusted-right {
    max-width: fit-content;
  }

  .trusted-left {
    padding: 2rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 6rem;
    max-width: 60rem;
  }
}

/* 1800 */
@media (min-width: 1800px) {
  .trusted-left {
    margin-left: 10rem;
  }
}
