/* variables for reuseability */

/* fonts */
@font-face {
  font-family: "Yukita Sans", sans-serif;
  src: url("/assets/fonts/YukitaSans-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

:root {
  /* color */
  --tc: #626262;
  --hc: #050e2c;
  --l: #e8fafe;
  --lb: #d0dbff;
  --db: #091951;
  --bc: #2752e7;
  --y: #f3de95;
  --p: #f395d9;
  --w: #ffffff;
  --wbt: #2c3131;

  /* typograpgy */

  /* font-family */
  --ff1: "Inter";
  --ff2: "Yukita Sans", sans-serif;

  /* backgeoud colors */
}

/* animations */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    opacity: 1;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    opacity: 1;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes moveUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* brand animation */
@keyframes brandAnimation {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 1;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* stat animation */
@keyframes statAnimationLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  80% {
    opacity: 1;
    transform: translateX(40px);
  }

  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes statAnimationRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }

  80% {
    opacity: 1;
    transform: translateX(-40px);
  }

  0% {
    opacity: 1;
    transform: translateX(0px);
  }
}
